<div class="main user-show">
  <div class="bcd">
  <div class="container3">
  <div class="user2">
    <div class="migi2">
      <% if @singer.image.attached? %>
        <%= image_tag singer.image %>
      <% else %>
        <img src="<%= "/default_image.png" %>">
      <% end %>

    <h2><%= @singer.name %></h2>
    </div>
    <div class="hidari formmm users-form3">
      <div class="form-body2">
          <%= render "form2" %>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="container5">
    <ul class="user-tabs">
      <li class="active"><%= link_to("曲", "#") %></li>
      <li><%= link_to("コメント", "#") %></li>
    </ul>

    <% @posts.each do |post| %>
      <div class="posts-index-item-i">
        <div class="post-left">
          <% if post.image.attached? %>
            <%= image_tag post.image %>
          <% else %>
            <img src="<%= "/default_image.png" %>">
          <% end %>
        </div>
        <div class="post-right2">
          <div class="post-user-name">
            <%= link_to post.song, "/posts/#{post.id}/comment" %><br>
            <% if user_signed_in? %>
              <% if Like.find_by(post_id:post.id,user_id:User.find_by(id:current_user).id) %>
                <%= link_to("/likes/#{post.id}/destroy2", {method: "post"}) do %>
                  <span class="fa fa-heart like-btn-unlike"></span><font color="black">(<%= Like.where(post_id:post.id).count %>)</font>
                <% end %>
              <% else %>
                <%= link_to("/likes/#{post.id}/post2", {method: "post"})  do %>
                  <span class="fa fa-heart like-btn-unlike-like"></span><font color="black">(<%= Like.where(post_id:post.id).count %>)</font>
                <% end %>
              <% end %>
            <% else %>
              <p style="font-size:14px;margin-top:4px;"><span class="fa fa-heart like-btn-unlike"></span><font color="black">(<%= Like.where(post_id:post.id).count %>)</font></p>
            <% end %>
          </div>
        </div>
        <div class="post-right-20">
          <p style="font-size:14px;background-color:#BCF4BC;margin-bottom:5px;">おすすめ度</p>
          <% answer = post.average %>
            <%if answer >= 0.0 && answer <0.1 %>
              <div style="font-size:13px"><span class="star" data-rate="0.0"></span></div>
            <% elsif answer >= 0.1 && answer <0.2 %>
              <div style="font-size:13px"><span class="star" data-rate="0.5"></span></div>
            <% elsif answer >= 0.2 && answer <0.3 %>
              <div style="font-size:13px"><span class="star" data-rate="1.0"></span></div>
            <% elsif answer >= 0.3 && answer <0.4 %>
              <div style="font-size:13px"><span class="star" data-rate="1.5"></span></div>
            <% elsif answer >= 0.4 && answer <0.5 %>
              <div style="font-size:13px"><span class="star" data-rate="2.0"></span></div>
            <% elsif answer >= 0.5 && answer <0.6 %>
              <div style="font-size:13px"><span class="star" data-rate="2.5"></span></div>
            <% elsif answer >= 0.6 && answer <0.7 %>
              <div style="font-size:13px"><span class="star" data-rate="3.0"></span></div>
            <% elsif answer >= 0.7 && answer <0.8 %>
              <div style="font-size:13px"><span class="star" data-rate="3.5"></span></div>
            <% elsif answer >= 0.8 && answer <0.9 %>
              <div style="font-size:13px"><span class="star" data-rate="4.0"></span></div>
            <% elsif answer >= 0.9 && answer <1.0 %>
              <div style="font-size:13px"><span class="star" data-rate="4.5"></span></div>
            <% else %>
              <div style="font-size:13px"><span class="star" data-rate="5.0"></span></div>
            <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
